*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  text-align: center;
}

.container h1 {
  color: #1d1d1d;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.btn {
  all: unset;
  top: 30px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  padding: 15px 30px;
  border-radius: 5px;
  background: #1d1d1d;
  border: 1px solid #1d1d1d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: #1d1d1d;
  background: #fff;
  border-color: #1d1d1d;
}

.square {
  width: 16px;
  margin: 2px;
  height: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: #fff;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  border-radius: 2px;
}

.square:hover {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
